<section id="about">
    <!--------------------ABOUT -------------->
  <div class="container">
          <div class="about">
              <h2>About Us</h2>
              <div class="about-content">
                  SIWES (Students’ Industrial Work Experience Scheme) is a programme organized by the ITF in order to ensure that students of various discipline are exposed to practical aspect of their profession before graduating. The lecturers in lecture rooms only cannot be enough for students of institution of higher learning to understand their course of study well enough to meet the practical needs of society. Students need an extra knowledge and experience both theoretically and practically, in all their courses of study especially in the field of sciences and social science. The Student Industrial Work Experience Scheme (SIWES) is a skill training programme which forms part of the approved minimum academic standards in the various degree programs for all the Nigerian Universities. It is aimed at exposing students to machines, equipment
                  and professional work methods as a way of bridging the gap between theory and practice.
              </div>
              <button type="button" class="about-button" >
                  Read more
              </button>
          </div>
  </div>
</section>