<section id = "contact">
    <div class="container">
        <h1>Contact Us</h1>
        {{{response}}}
        <div class="row">
            <div class="col-md-6">
                <form id ="contact-form" action="/submit-message" method="POST" class="contact-form">
                    <div class="form-group">
                        <input name ="name" type="text" class="form-control" placeholder="Your Name">
                        <input name="email" type="email" class="form-control" placeholder="Email">
                        <input name="phone"  type="number" class="form-control" placeholder="Phone No">
                        <div class="form-group">
                            <textarea name="message" class="form-control" row="4" placeholder="Message"></textarea>
                        </div>
                            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 contact-info">
                <div class="follow"><b>Address:</b><i class="fa fa-map-marker"></i>hhhhhhhhhhhhhhhhhh</div>
                <div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>0000000000</div>
                <div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>website.com</div>
            </div>
        </div>
    </div>
</section>