<section id="services">
    <div class="container">
        <h1>Our Services</h1>
        <div class="row services">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>  
                </div>
                <h3>Online Promotion</h3>
                <p> As we all know, it is imposible to do any work without any plan. The same theory applies for the creation of big buildings, amazing architectures or any machine design. We need a perfect plan or blueprint to create these things. Now a days technology is growing day by day, so we need to stay with the time we have to run the technology.
                    
                    </p>
            </div>

            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-users"></i>   
                </div>
                <h3>Business Management</h3>
                <p> As we all know, it is imposible to do any work without any plan. The same theory applies for the creation of big buildings, amazing architectures or any machine design. We need a perfect plan or blueprint to create these things. Now a days technology is growing day by day, so we need to stay with the time we have to run the technology.
                    
                    </p>
            </div>

            <div class="col-md-4 text-center">
                <div class="icon">
                    <i class="fa fa-calendar"></i>  
                </div>
                <h3>Event Planning</h3>
                <p> As we all know, it is imposible to do any work without any plan. The same theory applies for the creation of big buildings, amazing architectures or any machine design. We need a perfect plan or blueprint to create these things. Now a days technology is growing day by day, so we need to stay with the time we have to run the technology.
                     
                    </p>
            </div>

        </div>
    </div>
</section>